body {
  background-color:#FFF0C9;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
border-collapse: collapse;
text-align:center;
background-color:lightcyan ;
}
h1 {
text-align:center;

}
th, td {
border: 1px solid black;
line-height: 3;
padding-left: 10px;
padding-right: 10px;
}
textarea {
  resize: none;
  width: 100%;
}